@using System;
@using System.Collections.Generic;
@using System.Linq;
@using Sandbox;
@using Sandbox.UI;
@attribute [StyleSheet]

@namespace Rhythm4K

<root>
    <span class="button @DifficultySelected()" onclick=@SetDifficulty >
        <label class="name">@Chart.DifficultyName</label>
        <label class="level">@Chart.Difficulty</label>
    </span>
</root>

@code
{
    public Chart Chart { get; set; }

    public void SetDifficulty()
    {
        if(Ancestors.Where(x => x is SongSelectPage).FirstOrDefault() is SongSelectPage ss)
        {
            ss.SetDifficulty(ss.Song.Song.Charts.IndexOf(Chart));
        }
    }

    public string DifficultySelected()
    {
        if(Ancestors.Where(x => x is SongSelectPage).FirstOrDefault() is SongSelectPage ss)
        {
            return ss.Song.Song.Charts.IndexOf(Chart) == ss.Difficulty ? "selected" : "";
        }
        return "";
    }

    protected override int BuildHash()
    {
        return HashCode.Combine(DifficultySelected());
    }
}