@using System;
@using System.Collections.Generic;
@using System.Linq;
@using Sandbox;
@using Sandbox.Menu;
@using Sandbox.UI;
@using Sandbox.UI.GameMenu;
@inherits Panel
@attribute [StyleSheet]

@namespace Rhythm4K

<root class="lobby">
    <div class="body">
        <div class="left">
            <div class="navbar">
                <h2>Song Select</h2>
                <a class="button" href="/addons" >Load Addon</a>
            </div>
            @if(Rhythm4KSong.All.Count == 0)
            {
                <div class="no-songs">
                    No songs mounted! You likely need to load an addon :)
                </div>
            }
            else
            {
                <div class="songs">
                    @foreach (var item in Rhythm4KSong.All)
                    {
                        //<span class="button" onclick=@(() => { SongIdent = item.Ident; CurrentSong = item; })>@item.Name</span>
                        <SongButton Song=@item onclick=@(() => SetSong(item) ) />
                    }
                </div>
            }
        </div>

        <div class="right">
            <div class="info">
                <h2>Song</h2>
                <SongButton Song=@Song ></SongButton>
                @if(Song != null)
                {
                    <h2>Difficulty</h2>
                    <div class="difficulties">
                        @if(Game.InGame || Game.Menu.Lobby.Owner.IsMe)
                        {
                            @for (int i=0; i<Song.Song.Charts.Count; i++)
                            {
                                <DifficultyButton Chart=@Song.Song.Charts[i] />
                            }
                        }
                    </div>
                }
            </div>
            <div class="buttons">
                <span class="button" onclick=@Settings>Settings</span>
            <span class="button start-game @CanPlay()" onclick=@StartGame>Start Game</span>
            </div>
        </div>
    </div>
</root>


@code
{
    public Rhythm4KSong Song { get; set; }
    public int Difficulty { get; set; } = -1;

    private bool IsDirty = false;

    public async void MountAddon(Package package)
    {
        await package.MountAsync(true);
        StateHasChanged();
        Log.Info($"Mounted {package.Title}");
    }

    protected void Settings()
    {
        this.Navigate("/settings");
    }

    protected void StartGame()
    {
        if(CanPlay() == "disabled") return;
        this.Navigate("/game");
        if(Ancestors.FirstOrDefault(x => x is Rhythm4KMenu) is Rhythm4KMenu menu)
        {
            if(menu.Descendants.FirstOrDefault(x => x is GamePage) is GamePage gp)
            {
                gp.SetSong(Song, Difficulty);
            }
        }
    }

    public void SetSong(Rhythm4KSong song)
    {
        Log.Info("Setting song to " + song.Song.Name);
        Difficulty = -1;
        Song = song;
    }

    public void SetDifficulty(int difficulty)
    {
        Difficulty = difficulty;
    }

    private string DifficultySelected(int difficulty)
    {
        if(Difficulty == difficulty) return "selected";
        return "";
    }

    private string CanPlay()
    {
        if(Song == null) return "disabled";
        if(Difficulty == -1) return "disabled";
        return "";
    }
}