ResultsScreen
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(black, 0.8);
	backdrop-filter: blur(2px);
	padding: 64px;
	gap: 64px;
	font-family: Orbitron;
	font-size: 32px;
	pointer-events: all;

	.panel
	{
		background-color: rgba(255, 255, 255, 0.301);
		transform: skewX(-5deg);
	}

	.results
	{
		width: 525px;
		flex-shrink: 0;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 16px;
		padding: 16px;

		.song-info
		{
			flex-direction: column;
			gap: 8px;
			text-align: center;
			color: white;
			text-shadow: 2px 2px 4px black;
			font-size: 32px;
			
			.song-title
			{
				font-weight: 800;
			}
			
			.song-artist
			{
				font-size: 18px;
			}
		}

		.score-panel
		{
			width: 300px;
			height: 300px;
			flex-shrink: 0;
			.progress
			{
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-size: 100%;
				border-radius: 100%;
				mask-image: radial-gradient(black 0%, black 42.9%, white 43%, white 49.9%, black 50%);
				opacity: 0.8;
			}

			.progress-indicator
			{
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-color: rgba(0, 0, 0, 0.5);
				border-radius: 100%;
				mask-image: radial-gradient(black 0%, black 39.9%, white 40%, white 41.9%, black 42%);
				background-image: conic-gradient( #FF5A5A, #FF5A5A 69.9%, #FF8E5D 70%, #FF8E5D 79.9%, #E3B130 80%, #E3B130 89.9%, #88DA20 90%, #88DA20 94.9%, #02B5C3 95%, #02B5C3 99.8%, #DE31AE 99.9%);
				z-index: -10;
			}

			.progress-backing
			{
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-color: rgb(124, 124, 124);
				border-radius: 100%;
				mask-image: radial-gradient(black 0%, black 42.9%, white 43%, white 49.9%, black 50%);
				z-index: -10;
			}

			.rank
			{
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				justify-content: center;
				align-items: center;
				text-align: center;
				font-size: 102px;
				font-weight: 1000;
				color: linear-gradient(90deg, #E3B130, #d3d3d3);
				text-shadow: 2px 2px 4px black;

				*
				{
					pointer-events: none;
				}

				TooltipPanel
				{
					pointer-events: all;
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
				}

				&.rank-D
				{
					color: linear-gradient(90deg, #FF5A5A, #d3d3d3);
				}

				&.rank-C
				{
					color: linear-gradient(90deg, #FF8E5D, #d3d3d3);
				}

				&.rank-B
				{
					color: linear-gradient(90deg, #E3B130, #d3d3d3);
				}

				&.rank-A
				{
					color: linear-gradient(90deg, #88DA20, #d3d3d3);
				}

				&.rank-S
				{
					color: linear-gradient(90deg, #02B5C3, #d3d3d3);
				}

				&.rank-SS
				{
					color: linear-gradient(90deg, #DE31AE, #d3d3d3);
				}
			}
		}

		.score
		{
			font-size: 64px;
			font-weight: 800;
			color: linear-gradient(90deg, #ffffff, #c7c7c7);
			text-shadow: 2px 2px 4px black;
		}

		.chart-info
		{
			flex-direction: column;
			align-items: center;
			gap: 4px;

			> .difficulty
			{
				background-color: white;
				gap: 8px;
				align-items: center;
				padding: 2px 8px;
				border-radius: 12px;
				box-shadow: 2px 2px 16px black;
				margin-bottom: 4px;
			}

			> .difficulty-name
			{
				font-size: 28px;
				font-weight: 800;
				color: white;
				text-shadow: 2px 2px 4px black;
			}

			> .charter
			{
				align-items: center;
				gap: 8px;
				font-size: 18px;
				color: white;
				text-shadow: 2px 2px 4px black;
				> .charter
				{
					font-weight: 700;
				}
			}
		}

		.stats
		{
			flex-direction: column;
			font-size: 20px;
			font-family: Chakra Petch;
			width: 100%;
			
			.row
			{
				gap: 8px;
				flex-grow: 1;
			}

			.timings .stat
			{
				&:nth-child(1) .header
				{
					color: #99EEFF;
				}

				&:nth-child(2) .header
				{
					color: #66CCFF;
				}

				&:nth-child(3) .header
				{
					color: #9FC03F;
				}

				&:nth-child(4) .header
				{
					color: #86B001;
				}

				&:nth-child(5) .header
				{
					color: #F0C022;
				}

				&:nth-child(6) .header
				{
					color: #D91221;
				}
			}

			.stat
			{
				flex-direction: column;
				align-items: center;
				flex-grow: 1;
				flex-shrink: 0;

				.header
				{
					background-color: black;
					color: white;
					padding: 2px 4px;
					border-radius: 8px;
					width: 100%;
					text-align: center;
					font-weight: 800;
					justify-content: center;

					*
					{
						pointer-events: none;
					}
				}

				.value
				{
					color: black;
					font-weight: 500;
					font-size: 32px;
					align-items: center;
				}

				

				.small
				{
					font-size: 20px;
				}
			}
		}
	}

	.more-info
	{
		flex-grow: 1;
		flex-direction: column;
		gap: 64px;

		> .panel
		{
			flex-grow: 1;
			flex-direction: column;
			padding: 8px;

			> .header
			{
				border-left: 4px solid white;
				padding-left: 8px;
				color: white;
				text-shadow: 2px 2px 4px black;
			}

			> .timing
			{
				flex-grow: 1;
				align-items: flex-end;

				> .timing-bar
				{
					flex-grow: 1;
					flex-shrink: 0;
					background-color: rgb(173, 229, 225);
					border-radius: 8px;
					overflow: hidden;
					pointer-events: all;

					&:hover
					{
						background-color: rgb(255, 255, 255);
					}
				}
			}

			.timing-labels
			{
				width: 100%;
				justify-content: space-between;
				font-size: 24px;
				font-weight: 700;
				transform-origin: center;
				text-align: center;

				label
				{
					&:nth-child(6)
					{
						left: -12px;
					}
				}
			}

			&.statistics
			{
				flex-grow: 0;

				.stats
				{
					flex-wrap: wrap;
					align-items: center;
					align-content: center;
					justify-content: space-around;
					
					
					> .stat
					{
						width: 45%;
						margin-bottom: 24px;
						color: white;
						text-shadow: 2px 2px 4px black;
						font-family: Chakra Petch;
						font-size: 28px;
						justify-content: space-between;

						.header
						{
							font-weight: 200;
						}

						.value
						{
							font-weight: 900;
						}

						.value-difference
						{
							flex-direction: column;
							align-items: flex-end;

							.value
							{
								align-items: center;
								gap: 8px;

								i
								{
									border-radius: 100%;
									text-shadow: 0px 0px 0px transparent;
									border: 2px solid white;
									justify-content: center;
									align-items: center;
									text-align: center;
									font-size: 20px;

									&.negative
									{
										color: rgb(209, 21, 68);
										border-color: rgb(209, 21, 68);
									}

									&.same
									{
										color: rgb(190, 190, 190);
										border-color: rgb(190, 190, 190);
										text-stroke: 1px rgb(190, 190, 190);
									}

									&.positive
									{
										color: rgb(19, 190, 19);
										border-color: rgb(19, 190, 19);
									}
								}
							}

							.difference
							{
								font-size: 20px;
								font-weight: 800;
								color: white;
								pointer-events: none;

								.positive
								{
									color: rgb(19, 190, 19);
								}

								.negative
								{
									color: rgb(209, 21, 68);
								}

								TooltipPanel
								{
									pointer-events: all;
									position: absolute;
									top: 0;
									left: 0;
									right: 0;
									bottom: 0;
								}
							}
						}
					}
				}
			}

			

			&.calibration
			{
				flex-direction: column;
				flex-grow: 0;
				font-weight: 800;

				.stats
				{
					flex-direction: column;
					padding: 8px;
					gap: 8px;
				}

				.stat
				{
					font-size: 24px;
					gap: 32px;
					justify-content: center;
					align-items: center;

					&:not(.center)
					{
						opacity: 0.8;
					}

					.header
					{
						flex-grow: 1;
					}

					> .value
					{
						font-size: 24px;
						text-align: right;
					}
				}

				button
				{
					font-size: 32px;
					font-weight: 800;
					background-color: rgba(245, 245, 245, 0.356);
					padding: 16px;
					transform: skewX(-10deg);
					cursor: pointer;
					margin: 8px;
					transition: all 0.1s ease;

					&:hover
					{
						background-color: rgba(white, 0.5);
						sound-in: ui_hover;
					}

					&:active
					{
						sound-in: ui_forward;
						transform: scale(0.95) skewX(-10deg);
					}
				}

				.row
				{
					flex-grow: 1;
					justify-content: space-between;
					gap: 64px;
					padding: 8px;

					*
					{
						flex-grow: 1;
					}
				}

				.center
				{
					align-self: center;
				}
			}
		}
	}

	MainMenuButton
	{
		width: 200px;
		font-size: 42px;
		justify-content: center;
		align-items: center;
		cursor: pointer;

		.backing
		{
			left: 0px;
			width: 100%;
			transform: skewX(-10deg) scaleY(0);
		}

		label
		{
			color: black;
		}

		&.disabled
		{
			pointer-events: none;
			label
			{
				color: rgb(177, 177, 177);
				text-shadow: 0px 0px 0px white;
			}
		}

		&:hover
		{
			.backing
			{
				transform: skewX(-10deg) scaleY(1);
			}
		}
	}
	
}