@using System;
@using Sandbox;
@using Sandbox.UI;
@inherits Panel
@attribute [StyleSheet]

@namespace Rhythm4K

<root>
    <div class="menu">
        <a href="/song-select">
            <MainMenuButton Text="Singleplayer" Subtitle="Select a Song" />
        </a>
        @* <MainMenuButton Text="Multiplayer" /> *@
        <a href="/browse">
            <MainMenuButton Text="Browse Charts" />
        </a>

        <div style="height: 150px" />

        <a href="/">
            <MainMenuButton Text="Back" class="back"/>
        </a>
    </div>
</root>

@code
{

}