SongSelectPage
{
    width: 100%;
    height: 100%;
    flex-direction: column;
    font-family: Orbitron;
    justify-content: space-between;
    font-size: 24px;

    .header
    {
        pointer-events: all;
        width: 100%;
        height: 16px;
        gap: -8px;
        padding: 0px 8px;
        background-color: rgb(80, 79, 79);

        .tab
        {
            flex-grow: 1;
            height: 28px;
            background-color: grey;
            color: white;
            font-weight: 800;
            transform: skewX(20deg);
            justify-content: center;
            align-items: center;
            transition: all 0.1s ease;

            &:hover
            {
                height: 40px;
            }

            &.selected
            {
                background-color: white;
                color: black;
                height: 48px;
            }
        }
    }
}