SettingsPage
{
    position: absolute;
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    background-color: rgba(black, 0.6);
    flex-direction: column;
    justify-content: space-around;
    font-family: Poppins;
    color: white;

    h2
    {
        font-size: 48px;
        font-weight: 800;
        margin-bottom: 24px;
    }

    .settings
    {
        background-color: rgba(black, 0.7);
        padding: 16px;
        border-radius: 16px;
        flex-direction: row;
        overflow: hidden;
        gap: 16px;
        flex-grow: 1;
        margin: 32px;
        margin-bottom: 0px;
//        margin-top: 32px;

        .category
        {
            flex-direction: column;
            height: 100%;
            width: 100%;
            padding: 32px;

            .form
            {
                flex-direction: column;
                align-items: stretch;
                width: 100%;
                gap: 16px;

                .form-group
                {
                    align-items: center;
                    gap: 12px;
                    width: 100%;
                }
            }

            .form-label
            {
                font-family: Poppins;
                font-weight: 600;
                width: 140px;
            }
        }

        .left
        {
            width: 50%;
        }

        .right
        {
            flex-direction: column;
            width: 50%;
        }
    }

    keybind
    {
        background-color: #ffffff05;
        padding: 10px;
        font-size: 13px;
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 200px;
        cursor: pointer;
        color: #aaa;

        &.with-highlight
        {
            color: #eee;
        }

        &:hover
        {
            background-color: #ffffff11;
        }

        &.active
        {
            background-color: #fff;
            color: #aaa;
        }
    }

    .navbar
    {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 15%;
        padding: 0 64px;
        gap: 16px;

        .btn
        {
            font-size: 24px;
            font-weight: 800;
            text-align: center;
            padding: 8px;
            border-radius: 8px;
            background-color: white;
            color: black;
            cursor: pointer;
            transition: all 0.1s ease-in-out;
            margin: 8px;

            &:hover
            {
                transform: scale(1.05);
            }

            &:active
            {
                transform: scale(0.95);
            }
        }
    }
}