
OsuButton {
    position: relative;
    width: 300px;
    font-family: Chakra Petch;
    flex-direction: column;
    transition: all 0.05s ease-in-out;
    cursor: pointer;
    transform: skewX(1deg);
    color: black;
    padding: 8px;

    > .background
    {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: linear-gradient(rgb(255, 255, 255), rgb(146, 146, 146));
    }

    .image {
        width: 100%;
        height: 92px;
        background-position: center;
        background-size: cover;

        .overlay {
            width: 100%;
            height: 100%;
            background-color: rgba(black, 0.9);
            color: white;
            justify-content: center;
            align-items: center;
            transition: all 0.05s ease-in-out;
            font-size: 24px;
            cursor: pointer;
            gap: 8px;

            &.downloading .iconpanel {
                animation-name: spin;
                animation-duration: 1000ms;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
            }
        }
    }

    .info {
        flex-direction: column;
        transform: skewX(-1deg);

        .title {
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 8px;
        }

        .sub {
            text-overflow: ellipsis;
            white-space: nowrap;
            justify-content: space-between;

            .artist {
                font-size: 16px;
                font-weight: 500;
                margin-bottom: 8px;
            }

            .creator {
                font-size: 16px;
                font-weight: 500;
                margin-bottom: 8px;
                text-align: right;
            }
        }
    }

    &:hover {
        transform: scale(1.05) skewX(1deg);
    }

    &:active {
        transform: scale(0.95) skewX(1deg);
    }

    &.no-hover {
        &:hover {
            transform: scale(1) skewX(1deg);
        }
        
        &:active {
            transform: scale(1);
        }
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}