SettingsPanel
{
    flex-grow: 1;
    flex-direction: column;
    padding: 16px;
    font-family: Chakra Petch;
    overflow-y: scroll;
    overflow-x: hidden;
    pointer-events: all;

    > *
    {
        flex-shrink: 0;
    }

    h1
    {
        font-size: 64px;
        font-weight: 800;
        opacity: 0.25;
    }

    h3
    {
        font-size: 42px;
        font-weight: 800;
        opacity: 0.25;
    }

    .option
    {
        flex-grow: 1;
        flex-shrink: 0;
        flex-direction: row;
        gap: 16px;
        padding: 8px;
        font-size: 24px;
        font-weight: 800;
        cursor: pointer;
        pointer-events: all;
        align-items: center;

        > label
        {
            flex-grow: 1;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        label
        {
            color: white;
        }

        &.column
        {
            flex-direction: column;
        }
    }

    SliderControl
    {
        flex-shrink: 0;
        width: 300px;
        min-width: 300px;
        max-width: 300px;

        .inner
        {
            top: 4px;
            .track
            {
                background-color: rgba(54, 54, 54, 0.507);
            }
        }

        .entry
        {
            flex-shrink: 0;
            font-size: 20px;
        }
        
        .value-tooltip label
        {
            color: white;
        }
    }

    SwitchControl
    {
        flex-shrink: 0;

        .switch-frame
        {
            background-color: rgba(65, 65, 65, 0.637);
        }

        &.active
        {
            .switch-frame
            {
                background-color: #fffa;
            }

            .switch-inner
            {
                left: 80%;
                background-color: #fff;
            }
        }
    }

    CustomDropDown
    {
        flex-shrink: 0;
        align-items: center;
        background-color: rgba(245, 245, 245, 0.356);
        padding: 8px;
        padding-right: 12px;
        transform: skewX(-10deg);
    
        label
        {
            transform: skewX(10deg);
        }
    }

    button
    {
        flex-shrink: 0;
        padding: 8px;
        font-size: 24px;
        font-weight: 800;
        background-color: rgba(245, 245, 245, 0.356);
        color: black;
        border: none;
        cursor: pointer;
        transition: background-color 0.1s ease-out;
        transform: skewX(-10deg);

        &:hover
        {
            background-color: rgba(255, 255, 255, 0.5);
            sound-in: ui_hover;
        }

        &:active
        {
            sound-in: ui_forward;
        }

        label
        {
            transform: skewX(10deg);
        }
    }

    .page-contents
    {
        flex-direction: column;
    }

    .colors
    {

        .color
        {
            width: 42px;
            height: 42px;
            border: 1px solid white;
        }

        .color-sliders
        {
            flex-grow: 1;
            justify-content: flex-end;
            align-items: center;
            gap: 16px;

            slidercontrol .track-active
            {
                background-color: transparent;
            }

            slidercontrol:nth-child(1) .track
            {
                background: linear-gradient(to right, red, yellow, lime, cyan, blue, magenta, red);
            }

            slidercontrol:nth-child(2) .track
            {
                background: linear-gradient(to right, black, white);
            }

            .column
            {
                flex-direction: column;
                align-items: flex-end;
            }
        }
    }

    .page-selector
    {
        width: 100%;
        justify-content: space-evenly;
        font-size: 24px;

        MainMenuButton
        {
            width: auto;
            font-size: 24px;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            .backing
            {
                left: 0px;
                width: 100%;
                transform: skewX(-10deg) scaleY(0);
                background-color: white;
            }

            label
            {
                color: white;
            }

            &.disabled
            {
                pointer-events: none;
                label
                {
                    color: rgb(177, 177, 177);
                    text-shadow: 0px 0px 0px white;
                }
            }

            &.selected
            {
                .backing
                {
                    transform: skewX(-10deg) scaleY(1);
                    opacity: 0.5;
                }
            }

            &:hover
            {
                .backing
                {
                    transform: skewX(-10deg) scaleY(1);
                    opacity: 1;
                }

                label
                {
                    color: black;
                }
            }
        }
    }
}