.lobby
{
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    background-color: rgba(black, 0.5);
    backdrop-filter: blur(2px);
    font-family: Poppins;
    color: white;

    padding: 16px;

    h2
    {
        font-size: 32px;
        font-weight: 800;
        text-align: center;
    }

    .button
    {
        font-size: 24px;
        font-weight: 800;
        text-align: center;
        padding: 8px;
        border-radius: 8px;
        background-color: white;
        color: black;
        cursor: pointer;
        transition: all 0.1s ease-in-out;
        margin: 8px;

        &:hover
        {
            transform: scale(1.05);
        }

        &:active
        {
            transform: scale(0.95);
        }
    }

    .body
    {
        flex-grow: 1;
        gap: 32px;
    }

    .left, .right
    {
        background-color: rgba(black, 0.7);
        padding: 16px;
        flex-direction: column;
        justify-content: space-between;
    }

    .info
    {
        flex-direction: column;
    }

    .left
    {
        width: 65%;
    }

    .right
    {
        width: 35%;
    }

    .textentry
    {
        background-color: rgba(black, 0.3);
    }
    
    .players
    {
        background-color: rgba(white, 0.1);
        padding: 8px;
        gap: 8px;
        width: 100%;
        max-height: 200px;
        overflow-x: scroll;

        LobbyMember
        {
            flex-shrink: 0;
        }
    }

    .settings
    {
        flex-direction: column;
        gap: 16px;
        
        .form-group
        {
            align-items: center;
            gap: 12px;
        }

        .slidercontrol
        {
            min-width: 200px;

            .inner
            {
                padding-top: 4px;
            }

            .values
            {
                display: none;
            }
        }
    }
}

SingleplayerPage
{
    .body
    {
        .left
        {
            justify-content: flex-start;
            
            .navbar
            {
                justify-content: space-between;
                align-items: center;
            }

            .no-songs
            {
                flex-grow: 1;
                text-align: center;
                justify-content: center;
                align-items: center;
                font-size: 24px;
                font-style: italic;
            }

            .songs
            {
                flex-grow: 1;
                flex-wrap: wrap;
                overflow-y: scroll;
                gap: 16px;
                justify-content: center;
                
                LobbySongButton
                {
                    flex-shrink: 0;
                    aspect-ratio: 1;
                    width: 200px;
                    align-items: center;
                    color: white;

                    &:hover
                    {
                        transform: scale(1.05);
                    }

                    &:active
                    {
                        transform: scale(0.95);
                    }
                }
            }
        }

        .right
        {
            LobbySongButton
            {
                height: 400px;
                align-items: center;
                color: white;
            }

            .difficulties
            {
                flex-grow: 1;
                overflow-y: scroll;
                flex-direction: column;

                span
                {
                    background-color: grey;
                    width: 100%;

                    &.selected
                    {
                        background-color: white;
                    }
                }
            }

            .buttons
            {
                flex-direction: column;
                
            }

            .start-game
            {
                
                &.disabled
                {
                    background-color: rgba(black, 0.5);
                    color: rgba(white, 0.5);
                    cursor: not-allowed;
                }
            }
        }
    }
}