@using System;
@using Sandbox;
@using Sandbox.UI;
@inherits Panel
@attribute [StyleSheet]

@namespace Rhythm4K

<root>
    <div class="logo-container">
        <h1>Rhythm4K</h1>
        <div class="author">By Carson Kompon</div>
    </div>

    <div class="menu">
        <a href="/play">
            <MainMenuButton Text="Play" Subtitle="Play the Game" />
        </a>
        <a href="/options">
            <MainMenuButton Text="Options" Subtitle="Customize the Game" href="/options" />
        </a>
        <MainMenuButton Text="Quit" onclick=@Game.Close/>
    </div>
</root>

@code
{

}