{
  "Version": 2,
  "Mixers": {
    "Guid": "ea2cb404-4f0d-46b0-85c2-8b7ccf8cbcda",
    "Name": "Master",
    "Volume": 1,
    "Mute": false,
    "Solo": false,
    "Reflection": 0,
    "Processors": [
      {
        "Amount": 0.01,
        "Enabled": true,
        "Mix": 0,
        "__type": "LowPassProcessor"
      }
    ],
    "Children": [
      {
        "Guid": "d0f41577-aa0a-4d08-94e1-7a8052963ad2",
        "Name": "Music",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Reflection": 0,
        "Processors": [],
        "Children": []
      },
      {
        "Guid": "4b32b2c1-4f8c-44a7-b025-e8ae877b7c58",
        "Name": "Game",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Reflection": 0,
        "Processors": [],
        "Children": []
      },
      {
        "Guid": "2e40a8f5-6d75-499d-b8c1-16183553ed55",
        "Name": "UI",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Reflection": 0,
        "Processors": [],
        "Children": []
      }
    ]
  },
  "__guid": "724ed222-0bdb-46e0-9af4-9ea82f87720f",
  "__schema": "configdata",
  "__type": "MixerSettings",
  "__version": 2
}