@using System;
@using Sandbox;
@using Sandbox.UI;
@inherits Panel
@attribute [StyleSheet]

@namespace Rhythm4K

<root>
    <div class="menu">
        @* <div style="height: 150px" /> *@

        <div class="options">
            <div class="background" />
            <h1>General</h1>
            <div class="option">
                <label>Master Volume</label>
                <SliderControl Min=@(0f) Max=@(100f) Step=@(1f) ShowTextEntry=@(true) Value:bind=@GamePreferences.Settings.MasterVolume />
            </div>
            <div class="option">
                <label>Music Volume</label>
                <SliderControl Min=@(0f) Max=@(100f) Step=@(1f) ShowTextEntry=@(true) Value:bind=@GamePreferences.Settings.MusicVolume />
            </div>
            <div class="option">
                <label>SFX Volume</label>
                <SliderControl Min=@(0f) Max=@(100) Step=@(1f) ShowTextEntry=@(true) Value:bind=@GamePreferences.Settings.SoundVolume />
            </div>
            <button>Run Setup Wizard</button>
            <h1>Input</h1>
            <div class="option">
                <label>Key Bindings</label>
                <button>Configure</button>
            </div>
            <div class="option">
                <label>Audio Offset</label>
                <LeftRightNumberControl Step=@(1) Suffix="ms" />
            </div>
            <h1>Gameplay</h1>
            <div class="option">
                <label>Scroll Direction</label>
                <CustomDropDown />
            </div>
            <div class="option">
                <label>Scroll Speed Multiplier</label>
                <SliderControl Min=@(0.5f) Max=@(2) Step=@(0.05f) ShowTextEntry=@(true) />
            </div>
            <h1>Graphics</h1>
            <div class="option">
                <label>Gameplay Skin</label>
                <CustomDropDown />
            </div>
            <div class="option">
                <label>Background Effects</label>
                <SwitchControl />
            </div>
            <div class="option">
                <label>Hit Effects</label>
                <SwitchControl />
            </div>
            <div class="option">
                <label>Light Up Lanes</label>
                <SwitchControl />
            </div>
            <h3>Lanes</h3>
            <div class="page-selector">
                <MainMenuButton Text="1K" />
                <MainMenuButton class="selected" Text="2K" />
                <MainMenuButton Text="3K" />
                <MainMenuButton Text="4K" />
                <MainMenuButton Text="5K" />
                <MainMenuButton Text="6K" />
                <MainMenuButton Text="7K" />
                <MainMenuButton Text="8K" />
                <MainMenuButton Text="9K" />
                <MainMenuButton Text="10K" />
            </div>
            <div class="page-contents lanes">
                <div class="option">
                    <label>Lane Colour</label>
                </div>
            </div>
        </div>

        <MainMenuButton Text="Back" class="back" onclick=@BackButton/>
    </div>
</root>

@code
{
    void BackButton()
    {
        GamePreferences.SaveSettings();
    }
}