@using System;
@using Sandbox;
@using Sandbox.UI;
@inherits Panel
@attribute [StyleSheet]

@namespace Rhythm4K

<root>
    <div class="menu">
        @* <div style="height: 150px" /> *@

        <div class="options">
            <div class="background" />
            <SettingsPanel @ref="SettingsPanel" />
        </div>

        <MainMenuButton Text="Back" class="back" onclick=@BackButton/>
    </div>
</root>

@code
{
    SettingsPanel SettingsPanel { get; set; }

    void BackButton()
    {
        if(SettingsPanel.InKeybindsMenu)
        {
            SettingsPanel.InKeybindsMenu = false;
            return;
        }
        GamePreferences.SaveSettings();
        MainMenuScreen.Instance.Navigate("/");
    }
}