@using System;
@using Sandbox;
@using Sandbox.UI;
@inherits Panel
@attribute [StyleSheet]

@namespace Rhythm4K

<root>
    <div class="menu">
        @* <div style="height: 150px" /> *@

        <div class="options">
            <div class="background" />
            <SettingsPanel />
        </div>

        <MainMenuButton Text="Back" class="back" onclick=@BackButton/>
    </div>
</root>

@code
{

    void BackButton()
    {
        GamePreferences.SaveSettings();
        MainMenuScreen.Instance.Navigate("/");
    }
}