SettingsPage
{
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding: 64px;
    gap: 48px;
    font-family: Orbitron;
    justify-content: space-between;
    align-items: flex-end;

    .menu
    {
        flex-grow: 1;
        flex-direction: column;
        justify-content: center;
        gap: 32px;

        font-size: 42px;
        font-weight: 800;
    
        > .options
        {
            background-color: rgb(28, 26, 32);
            color: white;

            button
            {
                color: white;
            }

            // .option
            // {
            //     label
            //     {
            //         color: black;
            //     }
            // }

            // .page-selector
            // {
            //     MainMenuButton
            //     {
            //         color: black;

            //         .backing
            //         {
            //             background-color: black;
            //         }

            //         label
            //         {
            //             color: black;
            //         }

            //         &:hover
            //         {
            //             label
            //             {
            //                 color: white;
            //             }
            //         }
            //     }
            // }
        }
    }

    MainMenuButton
    {
        flex-shrink: 0;

        .backing
        {
            left: -24px;
            width: 900px;
        }
    }
}