@using System;
@using System.Collections.Generic;
@using System.Linq;
@using Sandbox;
@using Sandbox.UI;
@using Sandbox.UI.GameMenu;
@inherits Panel
@attribute [StyleSheet]

@namespace Rhythm4K

<root>
    <PackageList ShowFilters="@true" Query="ref:carsonk.rhythm4k type:addon sort:trending" OnSelected="@OnPackageSelected" Take=@(50)></PackageList>
    <a class="button" href="/songs"> &lt; Back</span>
</root>

@code
{
    void OnPackageSelected(Package package)
    {
        if(Ancestors.FirstOrDefault(x => x is Rhythm4KMenu) is Rhythm4KMenu menu)
        {
            if(menu.Descendants.FirstOrDefault(x => x is SongSelectPage) is SongSelectPage ss)
            {
                ss.MountAddon(package);
            }
        }

        this.Navigate("/songs");
    }
}