AddonPage
{
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    color: white;

    background-color: rgba(black, 0.6);

    padding: 16px;

    > .button
    {
        position: absolute;
        top: 16px;
        left: 16px;
        font-size: 24px;
        background-color: rgba(black, 0.4);
        padding: 8px;
        cursor: pointer;
    }
}