SongListInfoPanel
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	// background-color: #444;
	justify-content: space-between;
	align-items: center;
	font-weight: bold;
	padding: 16px;
	flex-direction: column;
	font-family: Orbitron;
	font-size: 32px;
	color: white;
	text-shadow: 0 0 10px black;
	pointer-events: all;
	
	.cover-art
	{
		left: 16px;
		width: 100%;
		aspect-ratio: 3;
		transform: skewX(-2deg);
		box-shadow: 4px 4px 16px black;

		Image
		{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-size: cover;
			background-position: center;
		}

		> .info
		{
			position: absolute;
			bottom: 8px;
			left: 8px;
			flex-direction: column;
			text-shadow: 2px 2px 4px black;
		}
	}

	> .extras
	{
		width: 100%;
		height: 72px;
		align-items: center;
		gap: 16px;
		text-shadow: 2px 2px 4px black;

		.extra
		{
			align-items: center;
			gap: 4px;
		}

		.fill
		{
			flex-grow: 1;
		}
	}

	i
	{
		background-color: rgb(0, 0, 0);
		mask-image: url("/sprites/diamond.png");
		mask-size: contain;
		padding: 8px;
		color: white;
	}

	h1
	{
		font-size: 38px;
		text-align: center;
	}

	.artist
	{
		font-size: 24px;
		font-weight: 400;
		text-align: center;
	}

	.chart-list
	{
		width: 100%;
		flex-grow: 1;
		flex-direction: column;
		max-height: 300px;
		overflow-y: scroll;
		overflow-x: hidden;
		gap: 8px;

		.chart
		{
			width: 100%;
			flex-shrink: 0;
			justify-content: space-between;
			align-items: center;
			background-color: #2c2c2c;
			padding: 8px;
			pointer-events: all;
			cursor: pointer;

			> .info
			{
				flex-direction: column;
				flex-grow: 1;
				
				h3
				{
					font-size: 32px;
					font-weight: 800;
					text-overflow: ellipsis;
					white-space: nowrap;
				}

				h4
				{
					font-size: 12px;
					font-weight: 400;
				}
			}

			.difficulty
			{
				flex-shrink: 0;
				margin-left: 8px;
			}

			&.selected
			{
				background-color: #a8a8a8;
				color: black;
			}

			&:hover
			{
				background-color: #797979;
			}
		}
	}

	.buttons
	{
		width: 100%;
		justify-content: space-evenly;
	}

	MainMenuButton
	{
		width: 200px;
		font-size: 42px;
		justify-content: center;
		align-items: center;
		cursor: pointer;

		.backing
		{
			left: 0px;
			width: 100%;
			transform: skewX(-10deg) scaleY(0);
		}

		label
		{
			color: black;
		}

		&.disabled
		{
			pointer-events: none;
			label
			{
				color: rgb(177, 177, 177);
				text-shadow: 0px 0px 0px white;
			}
		}

		&:hover
		{
			.backing
			{
				transform: skewX(-10deg) scaleY(1);
			}
		}
	}

	.no-charts
	{
		font-size: 64px;
		text-align: center;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		flex-grow: 1;
		color: black;
	}
}