@using System;
@using Sandbox;
@using Sandbox.UI;
@inherits Panel
@attribute [StyleSheet]

@namespace Rhythm4K

<root>
    <div class="logo-container">
        <img class="logo" src="/sprites/logo.png" />
        <div class="author">By Carson Kompon</div>
    </div>

    <div class="menu">
        @* <button onclick=@CreateLobby>Create Lobby</button>
        <button onclick=@FindLobby>Find Lobby</button> *@
        @if(Game.InGame)
        {
            <button onclick=@(() => Game.Menu.HideMenu() ) >Resume</button>
        }
        else
        {
            <button onclick=@Singleplayer>Play</button>
        }
        <button onclick=@GotoOptions>Options</button>
        <button onclick=@(() => Game.Menu.Close()) >Quit</button>
    </div>
</root>

@code
{
    public async void Singleplayer()
    {
        await Game.Menu.StartServerAsync(1, "My Server", "<empty>");
    }

    public async void CreateLobby()
    {
        await Game.Menu.CreateLobbyAsync(32);
    }

    public void FindLobby()
    {
        // TODO: Go to lobby browser
    }

    public void GotoOptions()
    {
        this.Navigate("/settings");
    }
}